{
  "notification": {

    "recipient": "YOUR_EMAIL_OR_SPECIFIC_EMAIL@email.com",

    "credentials": {
      "MailJet": {
        "FromName": "Your Name",
        "FromEmail":"YOUR_EMAIL@email.com",
        "API_KEY": "DROP_IN_YOUR_KEY_HERE",
        "API_KEY_PRIVATE": "DROP_IN_YOUR_PRIVATE_KEY_HERE"
      }
    },
    "defaultJobPeriod": "0 */10 * * * *"
  },
  "jobs": [
    {
      "title": "GAE /10 mins/ EWR > ORD Direct Only",
      "origin": "EWR",
      "destination": "ORD",
      "start": "2/24/2017",
      "end": "2/28/2017",
      "directOnly": true,
      "period": "0 */10 * * * *"
    },
    {
      "title": "GAE /10 mins/ EWR > ORD",
      "origin": "EWR",
      "destination": "ORD",
      "start": "2/24/2017",
      "end": "2/28/2017",
      "directOnly": false,
      "period": "0 */10 * * * *"
    }
  ]
}